<!--<div style="text-align:center">-->
<!--  <h1>Welcome to budget!</h1>-->
<!--  <img-->
<!--    width="450"-->
<!--    src="https://raw.githubusercontent.com/nrwl/nx/master/nx-logo.png"-->
<!--  />-->
<!--</div>-->

<!--<div class="input-group input-group-sm mb-3">-->
<!--  <div class="input-group-prepend">-->
<!--    <span class="input-group-text" id="inputGroup-sizing-sm1">StudentenId:</span>-->
<!--  </div>-->
<!--  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">-->
<!--</div>-->

<!--<div class="input-group input-group-sm mb-3">-->
<!--    <div class="input-group-prepend">-->
<!--      <span class="input-group-text" id="inputGroup-sizing-sm">Password:</span>-->
<!--    </div>-->
<!--  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">-->
<!--</div>-->

<!--<button type="button" class="btn btn-primary">Log in</button>-->

<router-outlet></router-outlet>
