<div class="student-crud">
  <form [formGroup]="studentEditForm" (ngSubmit)="submit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">Firstname</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName">
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Lastname</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" formControlName="email">
      </div>
      <div class="form-group col-md-6">
        <label for="budget">Budget</label>
        <input type="text" class="form-control" id="budget" formControlName="budget">
      </div>
    </div>
    <div class="form-row" *ngFor="let expense of expenses">
      <div class="form-group col-md-6">
        <label [for]="expense.id">Expense - {{ expense.name }}</label>
        <input disabled type="text" class="form-control" [id]="expense.id" [value]="expense.amount">
      </div>
      <div class="form-group col-md-6">
        <label >&nbsp;</label>
        <div class="expense-buttons">
        <button class="btn btn-warning" (click)="update(expense.id)">Update</button>
        <button class="btn btn-danger" (click)="delete(expense.id)">Delete</button>
        </div>
      </div>
    </div>
    <div class="buttons add-expense">
      <button class="btn btn-success" (click)="cancel()">Add Expense</button>
    </div>
    <hr/>
    <div class="buttons">
      <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
      <button class="btn btn-primary">{{ actionLabel }}</button>
    </div>
  </form>
</div>
