.student-crud {
  display: flex;
  justify-content: center;

  .buttons {
    display: flex;
    flex-direction: row;

    .btn {
      margin-right: 8px;
    }
  }

  .type-filter {
    margin-bottom: 20px;
  }

  .expense-buttons {
    .btn {
      margin-right: 8px;
    }
  }

  .add-expense {
    margin-bottom: 8px;
  }
}
